homework-5/05-1-homework.json
{
  "nodes": [
    {
      "parameters": {
        "chatId": "638807445",
        "text": "=Website_Up: {{ $json.output.website_up }}\n\nMessage: {{ $json.output.message }}",
        "additionalFields": {
          "appendAttribution": "={{ false }}",
          "parse_mode": "=HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -416
      ],
      "id": "8e1a5a11-af89-4af5-bfef-0ed7ed9f0abb",
      "name": "Send message website down",
      "webhookId": "de751863-edc6-4079-a30f-f0eb08124e2f",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "0RcTKtVJiKtRd8vd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Alex, a Junior DevOps. Your only job is to check if https://almukh.admin2.southbridge.ru is up. When asked if the websit is up, follow these step to check its status:\n\n1. Access the website using provieded HTTP tool.\n\n2. The website is \"up\" only if the tool output has the exact substring: System Online .\n\n3. If the tool output contains an error or there is no body, or the substring is not found, answer \"down\".\n\n4. Output  of the website's status must be as either \"up\" or \"down\". If the website is down, include an explanation based on HTTP tool responce.\n1. Access the website using provieded HTTP tool.\n\n2. The website is \"up\" only if the tool output has the exact substring: System Online .\n\n3. If the tool output contains an error or there is no body, or the substring is not found, answer \"down\".\n\n4. Report the website's status as either \"up\" or \"down\". If the website is down, include an explanation based on HTTP tool responce (e.g., connection error, timeout, or incrorrect content).\nResponce MUST be exactly two fields: website_up type of boolean and message type of string",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -592,
        -416
      ],
      "id": "1604f353-8a15-4416-b260-677bc7a78f39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "={{ $json.chatid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -624,
        -208
      ],
      "id": "0aeb3927-2469-4717-beff-980135d8416d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://almukh.admin2.southbridge.ru",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -480,
        -208
      ],
      "id": "0893927c-0488-4df4-935b-deb4293c2787",
      "name": "Visit website"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de8f7016-d7c3-42d5-ad6d-29c97d458dab",
              "leftValue": "={{ $json.output.website_up }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -400
      ],
      "id": "88853d16-8357-408b-8139-0395d4f3d6c6",
      "name": "If"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -784,
        -224
      ],
      "id": "7221569f-40f2-4845-ae1c-957e08d92a2b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "low3OsQHXmlFrQMv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc4aee40-534a-4bad-9177-a09f64044511",
              "name": "prompt",
              "value": "Check if the website up",
              "type": "string"
            },
            {
              "id": "6586e3f3-cc6c-4165-a19a-06b1a48a6813",
              "name": "chatid",
              "value": "=alex{{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -400
      ],
      "id": "45262c2e-0498-4314-bad0-0c4a058549df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"website_up\": true,\n\t\"message\": \"message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -320,
        -224
      ],
      "id": "ca4d8c9b-3026-4bab-a134-d63d9c7f1133",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -400
      ],
      "id": "09170012-60cf-447d-8a48-61e1082c3f16",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Visit website": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message website down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c70af5bdb4b537829bc855d3026d4a5c716aef70bc4def0a52bc550b6809f9c"
  }
}