homework-5/05-2-homework.json
{
  "nodes": [
    {
      "parameters": {
        "chatId": "638807445",
        "text": "=Website_Up: {{ $json.output.website_up }}\n\nMessage: {{ $json.output.message }}",
        "additionalFields": {
          "appendAttribution": "={{ false }}",
          "parse_mode": "=HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -416
      ],
      "id": "3d7600dd-8321-4f4c-91b8-339cd3de1e86",
      "name": "Send message website down",
      "webhookId": "91217ddc-ab01-4349-b48b-941a2b3ed265",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "0RcTKtVJiKtRd8vd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Alex, a Junior DevOps. Your only job is to check if website https://almukh.admin2.southbridge.ru/ is up. When asked if the website is up, follow these step to check its status:\n\n1. Access the website using provided \"Visit website\" tool.\n\n2. The website is \"up\" only if the tool \"Visit website\" output has the exact substring: System Online .\n\n3. If the website is not up via the \"Visit website\" tool, use \"DevOps\" tool to check if the website container is running by executing the command \"sudo docker ps\".\n\n4. If the container is not running, use \"DevOps\"  tool to check the exit code using the command  \"sudo docker inspect n8n-compose-website-1 --format='{{.State.ExitCode}}'\".\n\n5. Use \"DevOps\" tool to retrieve the recent logs using command \"sudo docker logs n8n-compose-website-1 --tail 10\"\n\n6. DO NOT start the container!\n\n7. Output  of the website's status must be as either \"up\" or \"down\". If the website is down, include an explanation based on \"Visit website\" tool responce and \"DevOps\" tool responce.\n\n8. Report the website's status as either \"up\" or \"down\". If the website is down, include an explanation based on \"Visit website\" tool responce (e.g., connection error, timeout, or incrorrect content), the \"DevOps\" tool responce (e.g., container not running, exit code and relevant log details). Responce MUST be exactly two fields: website_up type of boolean and message type of string",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -640,
        -400
      ],
      "id": "a05d8b20-daa5-4287-b2bd-c1efcc62ac7f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "={{ $json.chatid }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -608,
        -192
      ],
      "id": "62e27454-d4bb-4c14-8516-80a6770c9af8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de8f7016-d7c3-42d5-ad6d-29c97d458dab",
              "leftValue": "={{ $json.output.website_up }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -400
      ],
      "id": "f252059c-e3cd-453e-a12c-9721bed6ea83",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc4aee40-534a-4bad-9177-a09f64044511",
              "name": "prompt",
              "value": "Alex, check if the website up",
              "type": "string"
            },
            {
              "id": "6586e3f3-cc6c-4165-a19a-06b1a48a6813",
              "name": "chatid",
              "value": "=alex{{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -400
      ],
      "id": "54d01597-0845-4594-8afc-013c3c5b4569",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -400
      ],
      "id": "b6340789-f358-4908-9633-fea681d4806b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UxPM95dqvbIqxlwn",
          "mode": "list",
          "cachedResultUrl": "/workflow/UxPM95dqvbIqxlwn",
          "cachedResultName": "ssh_n8n_server"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -368,
        -192
      ],
      "id": "758df2ff-811a-4179-83a6-e1bd63491d05",
      "name": "DevOps"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt://b1gsv0pcia4r24f4krub/qwen3-235b-a22b-fp8/latest",
          "mode": "list",
          "cachedResultName": "gpt://b1gsv0pcia4r24f4krub/qwen3-235b-a22b-fp8/latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -736,
        -208
      ],
      "id": "38623491-3367-46bd-9e1f-4ec6e9dffb10",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qzPWhDkk9eSSnrIS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"website_up\": true,\n\t\"message\": \"message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        -224
      ],
      "id": "884429ef-a58f-44e6-9c7c-267aa0ce5929",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hQgwqaSpSTZJYurq",
          "mode": "list",
          "cachedResultUrl": "/workflow/hQgwqaSpSTZJYurq",
          "cachedResultName": "http_request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "website": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('website', ``, 'string') }}"
          },
          "matchingColumns": [
            "website"
          ],
          "schema": [
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -480,
        -208
      ],
      "id": "8e187226-4570-4591-a9c5-f463824838c8",
      "name": "Visit website"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message website down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Visit website": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c70af5bdb4b537829bc855d3026d4a5c716aef70bc4def0a52bc550b6809f9c"
  }
}