homework-4/04-2-homework.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ae1f25d-e168-405a-bd38-f848899800c6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        16
      ],
      "id": "eb4387af-2f75-4509-9a2e-98fb71a19233",
      "name": "Webhook",
      "webhookId": "2ae1f25d-e168-405a-bd38-f848899800c6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Какой краткий итог явных изменений?\n{{ $json.filename }} {{ $json.status }}\n{{ $json.patch }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        112,
        -80
      ],
      "id": "346a9710-f45f-488a-8e48-5e2c50e265ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-coder-32b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        112
      ],
      "id": "968fa0cf-af1f-4511-b43e-76f5868384ab",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wVzL0nIELSOpe2it",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "638807445",
        "text": "=Новый коммит в master\nавтор: {{ $json.body.commits[0].committer.name }};\nхэш коммита: {{ $json.body.commits[0].id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        128
      ],
      "id": "6583fd48-298f-4299-b18b-b7fc46c2efbf",
      "name": "Send author and sha commit",
      "webhookId": "de751863-edc6-4079-a30f-f0eb08124e2f",
      "credentials": {
        "telegramApi": {
          "id": "WfwWyQr0WqJzAuBS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.repository.url }}/commits/{{ $json.body.commits[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        -96
      ],
      "id": "4063abbe-1df8-4ba7-893a-40bc6e54304b",
      "name": "HTTP Request github repo",
      "credentials": {
        "httpBearerAuth": {
          "id": "LF5tPLwsueViO7Lw",
          "name": "Bearer Auth  github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9744b511-6797-470e-91ed-23c62380b9ff",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/master",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        112
      ],
      "id": "549ddd00-fab6-4352-b409-a90f64e70f59",
      "name": "If commit master"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        32
      ],
      "id": "02005acd-d354-469f-b335-289f251fa832",
      "name": "Split Out"
    },
    {
      "parameters": {
        "chatId": "638807445",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -80
      ],
      "id": "5a097c0d-6c81-45f4-9ec3-632215a5b878",
      "name": "Send what changed",
      "webhookId": "de751863-edc6-4079-a30f-f0eb08124e2f",
      "credentials": {
        "telegramApi": {
          "id": "WfwWyQr0WqJzAuBS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        128
      ],
      "id": "0efe190c-d930-43dc-9e73-609d89a5f573",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If commit master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send what changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request github repo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If commit master": {
      "main": [
        [
          {
            "node": "Send author and sha commit",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request github repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64acbdf7e8b712f12b57a9e834afd063807a76f56948e0aad641ef843e86e690"
  }
}